{% extends 'base.html.twig' %}

{% block body %}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Changer mon mot de passe</h2>
              <p>Accueil <span>-</span>Mon compte</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="checkout_area padding_top mb-4">
    <div class="row">
        <div class="container">
            {% if notification %}
                <div class="alert alert-info">{{notification}}</div>
            {% endif %}
			{{ form_start(form) }}
				<h2>
				<div class="row">
					<div class="col-md-4">{{form_row(form.firstname,{ 'attr': {'class': "form-control"}})}}</div>
					<div class="col-md-4">{{form_row(form.lastname,{ 'attr': {'class': "form-control"}})}}</div>
					<div class="col-md-4">{{form_row(form.email,{ 'attr': {'class': "form-control"}})}}</div>
				</div>

				<div class="row">
					<div class="col-md-4">{{form_row(form.old_password,{ 'attr': {'class': "form-control"}})}}</div>
                    <div class="col-md-4">{{form_row(form.new_password.first,{ 'attr': {'class': "form-control"}})}}</div>
                    <div class="col-md-4">{{form_row(form.new_password.second,{ 'attr': {'class': "form-control"}})}}</div>
                </div>

			{{ form_end(form) }}
        </div>
    </div>        
</section>
{% endblock %}

