{% extends 'dashboard_template/admin.html.twig' %}


{% block body %}
<section class="feature_part padding_top">
    <div class="container">
        <h1>Ajouter un transporteur</h1>
        {{ form_start(form) }}
            
            {{ form_row(form.name, { 'attr': {'class': "form-control"}}) }}
            {{ form_row(form.description, { 'attr': {'class': "form-control"}}) }}
            <div class="mt-4">
                {{ form_row(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}