{# {% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="block-small mt-5 mb-5">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Réinitialiser mon mot de passe</h1>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Changer mon mot de passe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
<section class="login_part padding_top">
  <div class="container">
    <div class="row align-items-center">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{form_row(form.new_password.first)}}
            </div>

            <div class="col-md-6">
                {{form_row(form.new_password.second)}}
            </div>
        </div>

        {{ form_end(form) }}

    </div>
  </div>
</section>

{% endblock %}

